@charset "utf-8";

.warp {
    display: block;
    position: relative;
    min-width: 100%;
}

.warp h1 {
    display: none;
}

.w960 {
    width: 960px;
}

.nav {
    width: 100%;
    height: 89px;
    position: absolute;
    z-index: 111;
    top: 0;
    left: 0;
    display: block;
    background: url("../static/nav-b.png") repeat-x;
}

.logo {
    /*因为a是行内元素，也就是文字元素是没有边框大小尺寸的，所以我们得先把它转换成块级元素*/
    display: block;
    width: 270px;
    height: 51px;
    position: absolute;
    z-index: 2;
    top: 19px;
    left: 50%;
    margin-left: -480px;
}

.nav-main {
    /*这里设置宽度是为了设置一个原始页面宽度，内容全部排布在这个页面里。*/
    height: 100%;
    width: 960px;
    margin: 0 auto;
    position: relative;
    display: block;
}

.nav-main a {
    height: 88px;
    padding: 0 30px;
    font-size: 18px;
    color: #f4f4f4;
    overflow: hidden;
    opacity: 0.8;
    filter: alpha(opacity=20);
    float: right;
    /*加定位给i做准备*/
    position: relative;
}

/*常年亮着首页*/
.nav-main:last-child {
    opacity: 1;
    filter: alpha(opacity=100);
}

.nav-main a em {
    height: 88px;
    line-height: 88px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
}

.nav-main a i {
    width: 100%;
    height: 88px;
    position: absolute;
    top: 0;
    left: 0;
}

.nav-main a:hover em, .nav-main a.cur {
    color: #ffffff;
    opacity: 1;
    filter: alpha(opacity=100);
}

.nav-main a i.nav-hover {
    display: block;
    animation-name: navhover;
    -webkit-animation: navhover 0.2s linear 0s 1 normal;
    -moz-animation: navhover 0.2s linear 0s 1 normal;
    animation: navhover 0.2s linear 0s 1 normal;
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
}

@-webkit-keyframes navhover {
    from {
        opacity: 0;
        -webkit-transform: scale(0, 1);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1, 1);
    }
}

@-moz-keyframes navhover {
    from {
        opacity: 0;
        -moz-transform: scale(0, 1);
    }
    to {
        opacity: 1;
        -moz-transform: scale(1, 1);
    }
}

@keyframes navhover {
    from {
        opacity: 0;
        transform: scale(0, 1);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.slide {
    height: 490px;
}

#bgstyleb {
    background: #193d85;
    padding-top: 89px;
}