<% $.each(this, function(index, item){ %>
<li <%=index === 0 ? 'class="bg"': ''%> >
    <div>
        <img src="<%=item.pic%>">
        <span><%=item.duration.replace(/^\d\d:/,'')%></span>
    </div>
    <p><%=item.title%></p>
</li>
<% }) %>