//只引入，不参与编译
@import (reference) "public";

html {
  font-size: 100px;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  // less中的方法，从定义的序列中按索引获取第一个值，没0
  color: extract(@cl, 1);
  background: extract(@cl, 3);
}

a, a:active, a:visited, a:hover, a:target {
  display: block;
  color: extract(@cl, 1);
}

/////*****container*****////
.container {
  margin: 0 auto;
  max-width: 6.4rem;
}

/////*****header*****////
.header {
  /////*****content*****////
  .con {
    height: .88rem;
    line-height: .88rem;
    font-size: .32rem;
    color: extract(@cl, 4);;
    background: extract(@cl, 5);

    .logo, .type {
      float: left;
    }

    .login, .menu {
      float: right;
    }

    .logo {
      padding-left: .7rem;
      width: 1.44rem;
      font-size: .32rem;
      font-weight: normal;
      background: url("@{url}/icon-logo.png") no-repeat .12rem center;
      background-size: .48rem;
      border-right: .02rem solid extract(@cl, 7);
    }

    .type {
      padding: 0 .2rem;
      border-left: .02rem solid #61b2f6;
    }

    .login {
      padding: 0 .3rem;
    }

    .menu {
      height: .88rem;
      width: .88rem;
      background: url("@{url}/nav-menu.png") no-repeat center;
      background-size: .48rem .44rem;
    }

  }

  /////*****nav*****////
  .nav {
    padding: 0; // 默认是0 0 目标值.1rem 0
    // nav的高度要算的：有三列a，每列高.74，.74*3=2.22
    height: 0; // 默认是0  目标值2.22rem
    overflow: hidden;
    // .transition(@duration: .3s);
    .transition(@duration: .3s, @property: height); //因为给padding也加过渡动画会有点抖，所以只给height加动画！
    // 好了，设置这个后出现时不抖了，但收起来的时候回抖，咯噔了一哈，得再动画完成时设置一个定时器来处理。哎，可惜没回调函数啊！！

    a {
      float: left;
      height: .74rem;
      font-size: .32rem;
      line-height: .74rem;
      text-align: center;
      width: 16%;

      // 连字符必须写在a标签里，因为&表示当前容器的父元素，即a的父元素就是.nav元素，然后才可以用子元素
      // 这里为什么要设2%呢，因为每排有6个a，每个a宽度16%，还剩4%没用，所以设2%！
      &:nth-child(6n+1) {
        margin-left: 2%;
      }
    }


  }

}