/** rem **/
html {
    font-size: 100px;
}

/*为啥没给.swiper-wrapper加宽高呢，因为框架用position改变位置，所以.swiper-wrapper的高度或者宽度是slide的N倍*/
/*我靠，main要加宽度和高度，人家格式祖宗元素~*/
html, body, .main, .swiper-container, .swiper-slide {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.main {
    position: relative;
}

.page1 {
    background: url("../img/bg1.jpg") no-repeat;
    background-size: cover;
}

.page1 img {
    position: absolute;
}

/*那个2015年*/
.page1 img:nth-child(4) {
    left: 2rem;
    top: 0.28rem;
    width: .96rem;
    height: 2.32rem;
}

.page1 img:nth-child(3) {
    right: 0;
    top: 0.28rem;
    width: 3.7rem;
    height: 6rem;
}

.page1 img:nth-child(2) {
    left: .5rem;
    bottom: .8rem;
    width: 5.5rem;
    height: 5.12rem;
}

.page1 img:nth-child(1) {
    left: -1.6rem;
    bottom: 0;
    width: 7.86rem;
    height: 5.88rem;
    z-index: 9;
}



.page2 {
    background: url("../img/bg2.jpg") no-repeat;
    background-size: cover;
}