* {
    margin: 0;
    padding: 0
}

html, body {
    width: 100%;
}

ul, li {
    list-style: none;
}

input {
    outline: none;
}

.box {
    width: 800px;
    border: 1px solid green;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}

.box .head {
    height: 35px;
    background: green;
    color: #ffffff;
}

.box .head span, .box .content span {
    font-size: 15px;
    float: left;
    width: 200px;
    height: 100%;
    line-height: 35px;
    text-align: center;
}

.box .content {
    height: 300px;
}

.box .content li {
    cursor: pointer;
}

.box .content li:nth-child(even) span {
    background: #eeeeee;
}

.box .content li:hover span {
    background: #DBEEBD;
}

.box .page {
    display: inline-block;
    margin-top: 10px;
    height: 22px;
    line-height: 22px;
    font-size: 13px;
}

.box .page span, .box .page ul, .box .page input, .box .page li {
    float: left;
    border: 1px solid green;
    margin-left: 4px;
    padding: 0 2px;
    cursor: pointer;
}

.box .page ul {
    border: none;
}

.box .page input {
    height: 20px;
    width: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
}

.box .page li {
    width: 16px;
}

.box .page li.bg {
    background: #ff6600;
    color: #ffffff;
}

.box .page li:hover,.box .page span:hover  {
    background: green;
    color: #ffffff;
}